    /* AddPayment.css */
    body {
        background-color: #EDECEC;
    }

    .add-payment-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    

    .select-card-section {
        width: 42%;
        padding: 20px;
        background-color: white;
        color: black;
        /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); */
        border-radius: 13px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .add-new-card-section {
        width: 40%;
        padding: 20px;
        background-color: white;
        color: black;
        /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); */
        border-radius: 13px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .card-item {
        display: flex;
        align-items: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        font-weight: 400;
        color: grey;
    }
    
    .card-item svg {
        margin-right: 10px;
        font-weight: 400;
    }
    
    .add-new-card-section {
        margin-top: 40px;
    }
    
    .select-card-section h2, .add-new-card-section h2 {
        margin-bottom: 20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        font-weight: 500;
        line-height: 59.33px;
        text-align: left;
        color: #1A1F16;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 5px;
    }
    
    input[type="text"], input[type="checkbox"] {
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
    }
    
    input[type="checkbox"] {
        width: auto;
    }
    
    .add-payment-btn {
        width: 100%;
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    /* .add-payment-btn:hover {
        opacity: 0.8;
    } */

    .existing-cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .horizontal-group {
        display: flex;
        gap: 20px; /* Adjust the gap between Expiry Date and CVV */
    }
    
    .expiry-date input[type="text"], .cvv input[type="text"] {
        flex: 1;
        width: calc(70% - 10px); /* Adjust the width as needed */
    }

    .add-new-card-section .bottom-card {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }
    
    .bottom-card .back-button {
        cursor: pointer;
        width: 20%;
        margin: 5px;
    }
    
    .add-new-card-section .secure-connection {
        margin: 5px;
        color: #02D693;
        font-size: larger;
    }

    .Label {
        color: rgba(26, 31, 22, 0.50);
        font-size: 16px;
        font-family: Cabin;
        font-weight: 400;
        word-wrap: break-word;
      }