@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

    body {
        background-color: #EDECEC;
        font-family: 'Cabin', sans-serif; /* Use 'Cabin' font */
        border-radius: 16px;
    }

    .add-address-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }