@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

    body {
        background-color: #EDECEC;
        font-family: 'Cabin', sans-serif; /* Use 'Cabin' font */
        border-radius: 16px;
    }

    .add-address-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .add-new-card-section {
        width: Fixed 676px;
        padding: 32px;
        gap: 16px;
        background-color: white;
        color: black;
        /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); */
        border-radius: 15px;
        margin: 5px;
        top: 95px;
        left: 382px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        opacity: 0px;
    }

  
    .Label {
        color: rgba(26, 31, 22, 0.50);
        font-size: 16px;
        font-family: Cabin;
        font-weight: 400;
        word-wrap: break-word;
    }

    .InputArea {
        flex: 1 1 0;
        height: 40px;
        padding: 8px;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        display: flex;
        border-radius: 13px;
    }
    
    .Placeholder {
        flex: 1 1 0;
        color: rgba(26, 31, 22, 0.50);
        font-size: 20px;
        font-family: Cabin;
        font-weight: 500;
        word-wrap: break-word;
    }
    
    
    .styled-checkbox {
      
        border: solid green;
       
    }
